<nav class="navbar navbar-expand-lg fixed-top py-3">
    <div class="container"><a href="{% url 'home' %}" class="navbar-brand text-uppercase font-weight-bold">Kütüphanem</a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
        
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link text-uppercase font-weight-bold">Anasayfa <span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a href="{% url 'books' %}" class="nav-link text-uppercase font-weight-bold">Kitaplar </a></li>
              <div class="dropdown">

                <a class="nav-item nav-link text-uppercase font-weight-bold dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Kütüphane
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li class="nav-item dropdown-item"><a href="{% url 'my_library' %}" class="nav-link text-uppercase font-weight-bold"> Kütüphanem <i class="fas fa-book-reader"></i></a></li>
                  <li class="nav-item dropdown-item"><a href="{% url 'book_ill_read' %}" class="nav-link text-uppercase font-weight-bold">Okuyacaklarım <i class="fas fa-book-open"></i></a></li>
                  <li class="nav-item dropdown-item"><a href="{% url 'book_iam_reading' %}" class="nav-link text-uppercase font-weight-bold">Şu an Okuduklarım <i class="fas fa-book"></i></a></li>
                  <li class="nav-item dropdown-item"><a href="{% url 'book_i_read' %}" class="nav-link text-uppercase font-weight-bold">Bitenler <i class="fas fa-book"></i></a></li>
                </div>

              </div>
              <li class="nav-item"><a href="{% url 'settings' %}" class="nav-link text-uppercase font-weight-bold">Ayarlar <i class="fas fa-user-cog"></i></a></li>
              <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link text-uppercase font-weight-bold">Çıkış Yap <i class="fas fa-sign-out-alt"></i></a></li>
             <!--<li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold"><i class="fas fa-bell"></i></a></li>-->
            </ul>
        </div>
    </div>
</nav>
