{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'home/navbar.html' %}
     
        <div class="container" style="margin-top: 20%;">
                 
            <div class="row align-items-center">
              <div class="col-lg-12" style="margin-bottom: 20%;">
                <div class="containerr">
                  <form action="/book-search/" method="post">
                    {% csrf_token %}
                     <input type="search" name="search_query" id="search_query" placeholder="Arama...">
                 </form>
                  <div class="search"></div>
                </div>
               
              </div>
      
             
              <div class="col-lg-12 col-sm-12 col-xs-12 infinite-container">
                <hr>
                <h1>Kitap Listesi</h1><hr>

                {% for book in books %}
                <div class="card card--small">
                  <div class="card__image" type="button" style="background-image: url('{{book.photo_url|default_if_none:'#' }} ')" data-toggle="modal" data-target="#modal{{ book.id }}" ></div>
                 
                  <h2 class="card__title">{{ book.title }}</h2>
                  <span class="card__subtitle">By {{ book.author }}</span>
                  <div class="card__action-bar">
                    <!--<button class="card__button">SHARE</button>     action="/addto-my-library/{{ book.pk }}"  -->
                
                      <a class="card__button" id="book{{book.pk}}" data-catid="{{ book.pk }}">Kütüphaneme Ekle <i class="fas fa-plus"></i></a>
                      
                  </div>
                </div>
              
                <div class="modal" id="modal{{ book.id }}" style="top: 10%;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h1 class="modal-title">{{book.title}} <small>{{book.author}}</small> </h1>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                      </div>
                      
                      <!-- Modal body -->
                      <div class="modal-body">
                        <p>{{book.content}}</p>
                      
                      </div>
                      
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn-danger" data-dismiss="modal">Close</button>
                      </div>
                      
                    </div>
                  </div>
                </div>

                {% endfor %}
                {% if books.has_next %}
                <a class="infinite-more-link btn btn-success" href="?page={{ books.next_page_number }}">Daha fazla yükle</a>
                {% endif %}
                <div class="loading" style="display: none;">
                  Loading...
                </div>
               </div>
            </div>                                                                                              
      </div>

      {% endblock %}