{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar.html' %}
        
      {% if user.is_authenticated %}

      <div class="container" >
        <div class="row">
            <div class="col-lg-12 col-md-12 login-box">         
                <form method="POST" style="margin-top: 20%;">
                  <br>
                  
                  {% csrf_token %}
                  {{form.as_p}}
                 
                  <button type="submit" class="btn">Güncelle</button>
                </form>
                
            </div>                                                            
        </div>                                    
    </div>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].className='textbox';
        form_fields[2].className='textbox';
        form_fields[3].className='textbox';
       
      </script>

      {% endif %}
        
        
    {% endblock %}